/*  */
.index-site-name {
    text-align: center;
    font-weight: bold;
    font-size: 3.0em;

    margin-bottom: 30px;
}

input {
    height: 40px;
}

@media screen and (min-width: 600px){
    .index-site-name {

    }
}


