/*  */
.messages{
  height: 86.5%;
  padding: 10px 15px;
  overflow-y: scroll;
}
.message{
  width: 85%;
  border-radius: 5px;
  margin-bottom: 7.5px;
  padding: 7.5px 15px;


  background: peachpuff;
  box-shadow: 0.5px 0.5px 0.5px #cccccc;
}
.msg-to{
  float: right;
  background: lightskyblue;
}
